<section id="menu-tabs" class="ui main blue pointing menu " >
	<a href="/"><span class="item"><img height="20px" src="/static/images/ipfs-logo-128.png"></span></a>
	{{ $section := .section }}
	{{ range $item := .menu.Items }}
	<a href="/{{ $item.Link }}"><span class="link {{ if eq $section $item.Name }} active {{ end }} item "><i class="circular {{ $item.Icon }} small icon"></i>{{ $item.Name }}</span></a>
	{{ end }} 
	<div class="right menu">
		<div class="item">
			<div class="ui icon input">
				<input type="text" id="search" placeholder="Hash">
				<i class="search icon"></i>
			</div>
		</div>
	</div>
</section>
